<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbarion">
      <ion-title size="large" ></ion-title>
    </ion-toolbar>
  </ion-header>
  

  <body class="bodyion">
    <div class="header">
      <h1>Informacion de Contacto</h1>
    </div>
  
    <div class="icon-container">
      <div class="icon">
        <a href="https://www.youtube.com/channel/UCN_4BiZpvphsFLfFbMUxKBg">
          <img src="assets/icons/klipartz.com.png">
        </a>
        <i class="fas fa-home"></i>
      </div>
      <div class="icon">
        <a href="https://www.instagram.com">
        <img src="assets/icons/insta.png">
        </a>
        <i class="fas fa-search"></i>
      </div>
      <div class="icon">
        <a href="https://twitter.com/?lang=es">
        <img src="assets/icons/twitter.png">
        </a>
        <i class="fas fa-envelope"></i>
      </div>
      <div class="icon">
        <a href="https://github.com/javierg277/ionic">
        <img src="assets/icons/github.png">
        </a>
        <i class="fas fa-user"></i>
      </div>
    </div>
  </body>
  
</ion-content>
